#TopNav{
    width: 100%;
    height: 38px;
    position: sticky;
    border-bottom: solid black 1px;
    padding-top: 0%;
    display:block;
}

html, body{
    margin: 0%;
    padding: 0%;
}

#TopNavList{
    list-style: none;
    padding: 0%;
    text-align: center;
    display: flex;
}

#TopNavList a{
    display: block;
    border-right: solid black 1px;
    padding: 10px;
    text-decoration: none;
    color: black;
    width: 100px;
}

#TopNavList li{
    margin: 0%;
}

#TopNavList a:hover{
    background-color: rgb(240, 240, 240);
}